%h2= @job.title

%h3= "Summary"
%p= @job.summary

%h3= "Description"
%p= @job.description

#contact
  %h3.title
    %span= "Apply"

  %ul#contact_topics
    %li
      = render '/contacts/job', :job => @job