= title "Jobs - #{@job.title}"
#job_page
  %h2= @job.title
  .desc
    = raw @job.description

#contact
  %ul#contact_topics
    %li.expanded
      %a.title.static{ href: "", onclick: "return false" }
        %strong= "Apply"
      = render '/contacts/job', job: @job
