%h2.headline
  %span= t 'home.headline'
#content_left
  .intro
    %p= t 'home.intro_p1', :link => link_to("EPFL", "http://www.epfl.ch")
    %p= t 'home.intro_p2'
#content_right
  %h3 Contact Us
  %p.message
    == <a href='mailto:&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x6A;&#x69;&#x6C;&#x69;&#x6F;&#x6E;&#x2E;&#x63;&#x6F;&#x6D;'>Email</a>
  %p.location
    %a#show_location{ :href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Chemin+de+la+Raye+13,+1024+Ecublens,+Switzerland&sll=46.524693,6.564245&sspn=0.010586,0.019033&ie=UTF8&ll=46.524708,6.564074&spn=0.010586,0.019033&z=16&iwloc=A", :title => "Show map" }= "Map"
  %p.twitter
    %a{ :href => "http://twitter.com/jilion" }= "Twitter"
  .email
    - if %w( thankyou confirmed unsubscribed ).include? params[:n]
      #email_flash{ :class => params[:n] }= t("home.email_flash.#{params[:n]}")
      = render :partial => 'subscribe_form', :locals => { :style => 'display:none' }
    - else
      = render :partial => 'subscribe_form'
  .spacer
