%ul.filter#jobs_filter
  %li{ :class => (params[:state] == "new") || (!params[:state]) ? "active": nil }= link_to "Draft", url_for(state: "new")
  %li{ :class => (params[:state] == "published") ? "active": nil }= link_to "Published", url_for(state: "published")
  %li{ :class => params[:state] == "archived" ? "active": nil }= link_to "Archived", url_for(state: "archived")
.spacer

%p= link_to "New job offer", new_admin_job_path
%br

%table
  %tr
    %th= "Issue"
    %th= "Title"
    %th= "Summary"
    %th= "State"
    %th= "Publication Date"
  = render @jobs

= paginate @jobs
