%ul.filter
  %li{ :class => (params[:state] == "new") || (!params[:state]) ? "active": "" }= link_to "Draft", url_for(params.merge(:state => "new"))
  %li{ :class => (params[:state] == "published") ? "active": "" }= link_to "Published", url_for(params.merge(:state => "published"))
  %li{ :class => params[:state] == "archived" ? "active": "" }= link_to "Archived", url_for(params.merge(:state => "archived"))
.spacer

= link_to "New job offer", new_admin_job_path

%table
  %tr
    %th= "Issue"
    %th= "Title"
    %th= "Description"
    %th= "State"
    %th= "Publication Date"
  = render :partial => "job", :collection => @jobs
  
= will_paginate @jobs