- form_for [:admin, @job], :html => { :method => :post } do |f|
  
  #job_title
    = f.label :title
    = f.text_field :title
    
  #job_description
    = f.label :description
    = f.text_area :description
    
  = f.submit "Create job"