%h2= @job.title

.job
  %p
    %strong{ :style => "font-weight:600;" }= "Created on:"
    = l @job.created_at, :format => :date

  %p
    %strong{ :style => "font-weight:600;" }= "Title:"
    = @job.title

  %p
    %strong{ :style => "font-weight:600;" }= "State:"
    = @job.state

  - if @job.new?
    = render("action_button", :job => @job, :state => 'published', :action => 'publish')
  - elsif @job.published?
    = render("action_button", :job => @job, :state => 'archived', :action => 'archive')
  %br

  %p
    %strong{ :style => "font-weight:600;" }= "Summary:"
    %br
    = RedCloth.new(@job.summary).to_html.html_safe
    %br

  %p
    %strong{ :style => "font-weight:600;" }= "Description:"
    %br
    = RedCloth.new(@job.description).to_html.html_safe
    %br

= link_to "Show application page", job_path(@job)
|
= link_to "Edit", edit_admin_job_path(@job)
%br

%br
%hr
= link_to "Back to the job list", admin_jobs_path