%h2= @job.title

= link_to "Back to the job list", admin_jobs_path

%ul.job
  %li
    %strong= "Issue:"
    = @job.issue
  %li
    %strong= "State:"
    = @job.state
  %li
    %strong= "Title:"
    = @job.title
  %li
    %strong= "Description:"
    = @job.description
  %li
    %strong= "Submitted on:"
    = l @job.created_at, :format => :date
    
= render("action_button", :job => @job, :state => 'published', :action => 'publish') if @job.is_new?
= render("action_button", :job => @job, :state => 'archived', :action => 'archive') if @job.published?