.section.contact
  %h3.title.contact
    %span= "Get in touch"
  %ul
    %li.email
      = link_to new_contact_path do
        %strong
          %span.icon= 'Contact'
        %span.corner
    %li.map
      = link_to "http://bit.ly/h4GQ0l", :title => "Show map", :id => "show_location" do
        %strong
          %span.icon= 'Map'
        %span.corner
    %li.twitter
      = link_to "http://twitter.com/jilion" do
        %strong
          %span.icon= 'Twitter'
        %span.corner
  .newsletter
    - if %w[thankyou confirmed unsubscribed].include?(params[:n])
      #email_flash{ :class => params[:n] }= t("home.email_flash.#{params[:n]}")
      = render :partial => 'subscribe_form', :locals => { :style => 'display:none' }
    - else
      = render :partial => 'subscribe_form'