.wrap
  .box.sublimevideo
    %h4
      = "SublimeVideo"
    .desc
      %p= "The Web's Most Reliable HTML5 Video Player"
    = link_to "Learn more", "http://sublimevideo.net", :class => "view_btn"
    .what_they_say
      = link_to "http://www.readwriteweb.com/archives/sublimevideo_demoing_the_future_of_html5_video.php", :class => "readwriteweb" do
        %span= "Read Write Web - Top Trends Of 2011"
      .wired
        %blockquote
          = "“Solutions like this are what the web needs”"
        = link_to "http://www.webmonkey.com/2010/02/sublimevideo_hopes_to_simplify_html5_web_video/" do
          %span= "Wired"
      .daringfireball
        %blockquote= "“Better in every single regard than any video player ever made with Flash.”"
        = link_to "http://daringfireball.net/linked/2010/02/01/sublimevideo" do
          %span= "Daring Fireball"
    %ul.awards
      %li.vivendi= link_to 'AWARD: Vivendi "Coup de Coeur" Prize MIPCube Lab 2012', "http://blog.jilion.com/2012/04/03/vivendi-awards-sublimevideo-its-coup-de-coeur-prize-at-mipcube-lab-2012"
      %li.mipcube= link_to 'AWARD: Most Promising Disruptive TV Start-up MIPCube Lab 2012', "http://blog.jilion.com/2012/04/02/sublimevideo-awarded-most-promising-disruptive-tv-start-up-at-mipcube-lab-2012"
