.section.people
  %ul.photos
    %li
      = image_tag "embed/people/thibaud_small.jpg", :alt => "Thibaud Guillaume-Gentil", :size => "56x56"
      .details_box.double_line
        = image_tag "embed/people/thibaud.jpg", :alt => "Thibaud Guillaume-Gentil"
        %h4= "Thibaud Guillaume-Gentil"
    %li
      = image_tag "embed/people/octave_small.jpg", :alt => "Octave Zangs", :size => "56x56"
      .details_box
        = image_tag "embed/people/octave.jpg", :alt => "Octave Zangs"
        %h4= "Octave Zangs"
    %li
      = image_tag "embed/people/zeno_small.jpg", :alt => "Zeno Crivelli", :size => "56x56"
      .details_box
        = image_tag "embed/people/zeno.jpg", :alt => "Zeno Crivelli"
        %h4= "Zeno Crivelli"
    %li
      = image_tag "embed/people/mehdi_small.jpg", :alt => "Mehdi Aminian", :size => "56x56"
      .details_box
        = image_tag "embed/people/mehdi.jpg", :alt => "Mehdi Aminian"
        %h4= "Mehdi Aminian"
    %li
      = image_tag "embed/people/remy_small.jpg", :alt => "Rémy Coutable", :size => "56x56"
      .details_box
        = image_tag "embed/people/remy.jpg", :alt => "Rémy Coutable"
        %h4= "Rémy Coutable"
    %li
      = image_tag "embed/people/andrea_small.jpg", :alt => "Andrea Coiro", :size => "56x56"
      .details_box
        = image_tag "embed/people/andrea.jpg", :alt => "Andrea Coiro"
        %h4= "Andrea Coiro"
    %li
      = image_tag "embed/people/arnaud_small.jpg", :alt => "Arnaud Dufour", :size => "56x56"
      .details_box
        = image_tag "embed/people/arnaud.jpg", :alt => "Arnaud Dufour"
        %h4= "Arnaud Dufour"
  .spacer
  %p= "Jilion is a software development team passionate about Web technologies, striving to make life easier for both Web publishers and users."
