.section.press
  %ul
    %li.readwriteweb
      = link_to "http://readwrite.com/2011/07/26/top_trends_of_2011_html5" do
        %span.text= "Read Write Web - Top Trends Of 2011"
    %li.wired
      = link_to "http://www.webmonkey.com/2010/02/sublimevideo_hopes_to_simplify_html5_web_video/" do
        %span.text= "Wired"
    %li.daringfireball
      = link_to "http://daringfireball.net/linked/2010/02/01/sublimevideo" do
        %span.text= "Daring Fireball"
    %li.vivendi.award
      = link_to "http://blog.jilion.com/2012/04/03/vivendi-awards-sublimevideo-its-coup-de-coeur-prize-at-mipcube-lab-2012" do
        %span.star
        = raw 'AWARD:<br> Vivendi "Coup de Coeur" Prize MIPCube Lab 2012'
    %li.mipcube.award
      = link_to "http://blog.jilion.com/2012/04/02/sublimevideo-awarded-most-promising-disruptive-tv-start-up-at-mipcube-lab-2012" do
        %span.star
        = raw 'AWARD:<br> Most Promising Disruptive TV Start-up MIPCube Lab 2012'
  .spacer