.section.student_project.box
  %h3.title.student_project
    %span= "Student Project"
  .left
    = link_to "http://aeliosapp.com" do
      = image_tag "embed/home/aelios/aelios_icon.png", alt: "Aelios for iPad"
    %span.ratings= "450+ ratings"
    = link_to "More", "http://aeliosapp.com", :class => "more"
  .right
    %h3= link_to "Aelios for iPad", "http://aeliosapp.com"
    %p.desc= "Beginning as a Computer Science Bachelor project to recruit new talent, Aelios is a unique and well regarded weather app for iPad that lets you explore the world's weather forecasts."
