%h2.headline
  %span= t 'home.headline'

#latest_work= render 'latest_work'

#content.home
  = render 'press'
  = render 'main_description'
  = render 'news'
  = render 'student_project'
  = render 'open_source'
  .spacer
  .section.break
  = render 'people'
  .spacer
  = render 'get_in_touch'
  .hw_enabler
