%h2.headline
  %span= t 'home.headline'

#latest_work
  .wrap
    .box.sublimevideo
      %h4
        = "SublimeVideo"
      .desc
        %p= "The World's First Cloud-based HTML5 Video Player."
        %p= "Now with Integrated, Universal Real-Time Statistics."
      = link_to "Learn more", "http://sublimevideo.net", :class => "view_btn"
      .what_they_say
        = link_to "http://www.readwriteweb.com/archives/sublimevideo_demoing_the_future_of_html5_video.php", :class => "readwriteweb" do
          %span= "Read Write Web - Top Trends Of 2011"
        .wired
          %blockquote
            = "“Solutions like this are what the web needs”"
          = link_to "http://www.webmonkey.com/2010/02/sublimevideo_hopes_to_simplify_html5_web_video/" do
            %span= "Wired"
        .daringfireball
          %blockquote= "“Better in every single regard than any video player ever made with Flash.”"
          = link_to "http://daringfireball.net/linked/2010/02/01/sublimevideo" do
            %span= "Daring Fireball"
    -# .box.aelios.active
    -#   %h4
    -#     = "Aelios for iPad"
    -#     %em= "Explore the World’s Weather Forecasts!"
    -#   = link_to "Learn more", "http://aeliosapp.com", :class => "view_btn"
    -#   .quote
    -#     %blockquote= "“Amazing new iPad weather app Aelios has the most unique interface I've ever seen.”"
    -#     %p.author
    -#       = "Mike Rundle."
    -#       = link_to "May 23, 2011", "http://twitter.com/flyosity/status/72666043230859264"
    -#   = link_to "http://gizmodo.com/5805650/aelios-weather-for-ipad", :class => "gizmodo" do
    -#     %span= "Gizmodo - App of the day"
    -#   = link_to "http://www.tuaw.com/2011/05/23/aelios-is-a-new-way-to-get-the-weather-on-your-ipad/", :class => "tuaw" do
    -#     %span= "Tuaw"
-# #latest_work_navigation
-#   = link_to "", :class => "sublimevideo active" do
-#     %span= "SublimeVideo"
-#   = link_to "", :class => "aelios" do
-#     %span= "Aelios for iPad"

#content.home
  .section.what_we_do
    %h3.title.what_we_do
      %span= "What we do"
    %ul
      %li
        %p
          = raw "#{link_to "SublimeVideo", "http://sublimevideo.net"} is the world's first cloud-based HTML5 video player. The universal video player solution that your web audience deserves, effortlessly and consistently delivering the benefits of HTML5, today."
        %p{:style => "padding:10px 0 20px"}= raw "#{link_to "Aelios", "http://aeliosapp.com"} is a unique weather app for iPad. It lets users explore the world, intuitively select locations and view easy to understand weather forecasts."
        -# %p{:style => "padding-top:0px"}= link_to "Learn more", "http://sublimevideo.net", :class => "learn_more"
  .section.people
    %h3.title.people
      %span= "People"
    %ul.photos
      %li
        = image_tag "/images/embed/people/mehdi_small.jpg", :alt => "Mehdi Aminian", :size => "56x56"
        .details_box
          = image_tag "/images/embed/people/mehdi.jpg", :alt => "Mehdi Aminian"
          %h4= "Mehdi Aminian"
      %li
        = image_tag "/images/embed/people/zeno_small.jpg", :alt => "Zeno Crivelli", :size => "56x56"
        .details_box
          = image_tag "/images/embed/people/zeno.jpg", :alt => "Zeno Crivelli"
          %h4= "Zeno Crivelli"
      %li
        = image_tag "/images/embed/people/thibaud_small.jpg", :alt => "Thibaud Guillaume-Gentil", :size => "56x56"
        .details_box.double_line
          = image_tag "/images/embed/people/thibaud.jpg", :alt => "Thibaud Guillaume-Gentil"
          %h4= "Thibaud Guillaume-Gentil"
      %li
        = image_tag "/images/embed/people/octave_small.jpg", :alt => "Octave Zangs", :size => "56x56"
        .details_box
          = image_tag "/images/embed/people/octave.jpg", :alt => "Octave Zangs"
          %h4= "Octave Zangs"
      %li
        = image_tag "/images/embed/people/remy_small.jpg", :alt => "Rémy Coutable", :size => "56x56"
        .details_box
          = image_tag "/images/embed/people/remy.jpg", :alt => "Rémy Coutable"
          %h4= "Rémy Coutable"
      %li
        = image_tag "/images/embed/people/andrea_small.jpg", :alt => "Andrea Coiro", :size => "56x56"
        .details_box
          = image_tag "/images/embed/people/andrea.jpg", :alt => "Andrea Coiro"
          %h4= "Andrea Coiro"
      %li
        = image_tag "/images/embed/people/aidan_small.jpg", :alt => "Aidan Hornsby", :size => "56x56"
        .details_box
          = image_tag "/images/embed/people/aidan.jpg", :alt => "Aidan Hornsby"
          %h4= "Aidan Hornsby"
      %li
      %li
    
    %p= "Jilion is a small and passionate team striving to create well-crafted and innovative software. We are based in Lausanne, Switzerland."
    -# %p{:style => "padding-top:10px"}= link_to "Learn more", "/team", :class => "learn_more"
    -# .photo
    -#   = image_tag "/images/embed/home/jilion_team.jpg", :alt => "Jilion Team"
    -#   .caption
    -#     %em= "From left to right: Octave, Andrea, Rémy, Zeno, Thibaud, Mehdi"

  -# .section.supporters
  -#   %h3.title.supporters
  -#     %span= "Supporters"
  -#   %p= "We want to thank all our long-time supporters for their trust in our passion."
  -#   %p
  -#     %strong= "Our Angel Investors:"
  -#   %ul
  -#     %li= "Stelio Tzonis, IT entrepreneur (Nagra-Kudelki's Lysis)"
  -#     %li= "Amin Shokrollahi, EPFL professor, IT entrepreneur (Qualcomm's DigitalFountain)"
  -#     %li= "Pierre Fazan, EPFL professor, IT entrepreneur (Micron's InnovativeSilicon)"
  -#     %li= "Marco Beltrametti, … professor(?)"
  -#     %li= "Aminian & Crivelli's families"
  -#   %p
  -#     %strong= "Organizations supporting us:"
  -#   %ul
  -#     %li= "EPFL VPIV / Innogrant"
  -#     %li= "FIT"
  -#     %li= "Venturekick.ch"
  -#     %li= "SELT"
  -#     %li= "PSE"
  -# .spacer
  .spacer
  = render "get_in_touch"
  -# - jobs = Job.published
  -# - if jobs.present?
  -#   .section.jobs
  -#     %h3.title.jobs
  -#       %span= "Jobs"
  -#     -# %p= "We have one open position at the moment:"
  -#     %ul
  -#       - jobs.each do |job|
  -#         %li
  -#           %h4
  -#             %em= "Open Position:"
  -#             = job.title
  -#           %p
  -#             = job.summary
  -#             = raw "#{link_to "apply here", job_path(job)}."
  .hw_enabler