%h2.headline
  %span= t 'home.headline'

#latest_work
  .box.sublimevideo
    %h3.title.latest_work= "Latest work"
    = link_to "http://sublimevideo.net", :class => "read_more" do
      %span= "Get an invitation for the beta on sublimevideo.net"
    %h4
      = "SublimeVideo"
      %em= "HTML5 Video Player"
    = link_to "demo page", "http://sublimevideo.net", :class => "view_btn"
    .what_they_say
      %h5= "What they say"
      = link_to "http://daringfireball.net/linked/2010/02/01/sublimevideo", :class => "daringfireball" do
        %span= "Daring Fireball"
      = link_to "http://www.readwriteweb.com/archives/sublimevideo_demoing_the_future_of_html5_video.php", :class => "readwriteweb" do
        %span= "Read Write Web"
      = link_to "http://www.webmonkey.com/2010/02/sublimevideo_hopes_to_simplify_html5_web_video/", :class => "wired" do
        %span= "Wired"
      = link_to "http://mashable.com/2010/04/29/apple-flash-html5/", :class => "mashable" do
        %span= "Mashable"

#content
  .section.what_we_do
    %h3.title.what_we_do
      %span= "What we do"
    %p
      -# = image_tag "/images/embed/home/sublime_video_logo.png", :alt => "Web"
      = "SublimeVideo was launched as an HTML5 video demo in January 2010."
      %br
      = "After more than 1 million unique visitors, SublimeVideo has grown into the world's first \"Universal HTML5 Video Player Service\"."
    %p
      = "SublimeVideo is the only video player solution on the web to deliver the promises of HTML5 video on most web browsers, pain-free and consistently."
      %br
      = link_to "Learn more", "http://sublimevideo.net"

  .section.people2
    %h3.title.people
      %span= "People"
    %p= raw "Jilion is a team of #{hl('software creators')} based in Lausanne, #{hl('Switzerland')} at the fantastic #{link_to('EPFL', 'http://www.epfl.ch')} start-ups campus."
    %p= "Jilion has been made possible through a patient process to assemble individuals who love working together."
    .photo
      = "Group photo here"
    .photo_legend
      = "From left to right: Octave, Andrea, Rémy, Zeno, Thibaud, Mehdi"

  .section.jobs2
    %h3.title.jobs
      %span= "Jobs"
    %p= "We have one open position at the moment:"
    %h4.title
      %span= "Community and marcom manager"
    %p
      = "Full-time position in Switzerland (and then possibly UK or US). In charge of all Jilion's communication. You are fully knowledgeable in what we do and have a talent to communicate it easily and with passion. English is your mother tongue."
      %br
      = link_to "Please apply here", job_path(Job.where(title: "Community and marcom manager").first)

  .section.supporters
    %h3.title.supporters
      %span= "Supporters"
    %p= "We want to thank all our long-time supporters for their trust in our passion."
    %p
      %strong= "Our Angel Investors:"
    %ul
      %li= "Stelio Tzonis, IT entrepreneur (Nagra-Kudelki's Lysis)"
      %li= "Amin Shokrollahi, EPFL professor, IT entrepreneur (Qualcomm's DigitalFountain)"
      %li= "Pierre Fazan, EPFL professor, IT entrepreneur (Micron's InnovativeSilicon)"
      %li= "Marco Beltrametti, … professor(?)"
      %li= "Aminian & Crivelli's families"
    %p
      %strong= "Organizations supporting us:"
    %ul
      %li= "EPFL VPIV / Innogrant"
      %li= "FIT"
      %li= "Venturekick.ch"
      %li= "SELT"
      %li= "PSE"
  .spacer

  .section.contact
    %h3.title.contact
      %span= "Contact"
    %ul
      -# %li.email
      -#   = link_to "mailto:%69%6e%66%6f@%6a%69%6c%69%6f%6e.%63%6f%6d" do
      -#     %strong
      -#       %span.icon= 'Email'
      -#     %span.corner
      %li.map
        = link_to "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=PSE+D,+1015+Ecublens,+Switzerland&sll=46.51725,6.56210&sspn=0.02838,0.037208&ie=UTF8&t=h&z=16", :title => "Show map", :id => "show_location" do
          %strong
            %span.icon= 'Map'
          %span.corner
      %li.twitter
        = link_to "http://twitter.com/jilion" do
          %strong
            %span.icon= 'Twitter'
          %span.corner
    .newsletter
      - if %w[thankyou confirmed unsubscribed].include?(params[:n])
        #email_flash{ :class => params[:n] }= t("home.email_flash.#{params[:n]}")
        = render :partial => 'subscribe_form', :locals => { :style => 'display:none' }
      - else
        = render :partial => 'subscribe_form'