%h2.headline
  %span= t 'home.headline'
  
#latest_work
  -# .box.helvetiq
  -#   %h3.title.latest_work= "Latest work"
  -#   .left
  -#     %h4= "Helvetiq"
  -#     %p.description= 'We are glad to introduce the Helvetiq iPhone App. A Swiss IQ test based on the original Helvetiq board game.'
  -#   .right
  -#     = link_to "view", "http://iphone.helvetiq.ch", :class => "view_btn"
  -#     -#%p.read_more= 'Read more:'
  -#     -#= link_to "The Making of Helvetiq iPhone App", "http://blog.jilion.com", :class => "post_link"
  .box.sublimevideo
    %h3.title.latest_work= "Latest work"
    = link_to "http://sublimevideo.net", :class => "read_more" do
      %span= "Get an invitation for the beta on sublimevideo.net"
    %h4
      = "SublimeVideo"
      %em= "HTML5 Video Player"
    = link_to "demo page", "http://sublimevideo.net", :class => "view_btn"
    .what_they_say
      %h5= "What they say"
      = link_to "http://daringfireball.net/linked/2010/02/01/sublimevideo", :class => "daringfireball" do
        %span= "Daring Fireball"
      = link_to "http://www.readwriteweb.com/archives/sublimevideo_demoing_the_future_of_html5_video.php", :class => "readwriteweb" do
        %span= "Read Write Web"
      = link_to "http://www.webmonkey.com/2010/02/sublimevideo_hopes_to_simplify_html5_web_video/", :class => "wired" do
        %span= "Wired"
      = link_to "http://mashable.com/2010/04/29/apple-flash-html5/", :class => "mashable" do
        %span= "Mashable"
        
#content
  .section.jilion
    %h3.title.jilion
      %span= "What is Jilion"
    %p= raw "Jilion is a team of #{hl('developers')} and #{hl('designers')} based in Lausanne, #{hl('Switzerland')} on the #{link_to('EPFL', 'http://www.epfl.ch')} start-up campus. We provide you with our expertise in Internet software development and consulting services in addition to developing our own products."
    %p= 'We pride ourselves on delivering impactful and state-of-the-art solutions to your online business goals.'
  .section.what_we_do
    %h3.title.what_we_do
      %span= "What we do"
    .web
      = image_tag "/images/embed/home/browser_icon.png", :alt => "Web"
      %p= raw "We have strong expertise in #{hl('web application')} development and interface design. We can collaborate with your team in defining your product goals and specifications, its online presence and market strategy."
      %p= raw "We are experts in the #{hl('Ruby on Rails')} framework and the #{hl('Facebook Platform')} and we can empower your product by adding advanced social media integration."
    .iphone
      = image_tag "/images/embed/home/iphone_icon.png", :alt => "iPhone"
      %p= raw "We can help you build cutting-edge applications for the #{hl('iPhone and iPod touch')} that will enhance your brand and raise user satisfaction significantly."
      %p= raw "We want to delight your users with #{hl('easy-to-use applications')} and #{hl('beautiful interfaces')} that will make the difference."
    .spacer
  .section.our_strength
    %h3.title.our_strength
      %span= "Our strength"
    #spectrum
      %strong
        %em= "We cover the full spectrum of competences, from solid back-end web services to sleek iPhone applications and web front-ends."
  .section.people
    %h3.title.people
      %span= "People"
    %ul
      %li
        = image_tag "/images/embed/people/mehdi.jpg", :alt => "Mehdi Aminian"
        .text
          %h4= 'Mehdi Aminian'
          %p.desc= "Internet entrepreneur with a passion for micro teams having macro ambitions."
      %li
        = image_tag "/images/embed/people/zeno.jpg", :alt => "Zeno Crivelli"
        .text
          %h4= 'Zeno Crivelli'
          %p.desc= "iPhone & web front-end developer. Details fine-tuning enthusiast."
      %li
        = image_tag "/images/embed/people/thibaud.jpg", :alt => "Thibaud Guillaume-Gentil"
        .text
          %h4= 'Thibaud Guillaume-Gentil'
          %p.desc= "Rails Developer loving TextMate's Invisible Chars."
      %li
        = image_tag "/images/embed/people/octave.jpg", :alt => "Octave Zangs"
        .text
          %h4= 'Octave Zangs'
          %p.desc
            = "Pixel-perfect web & iPhone UI designer."
            %br
            = "Music maker."
  .section.jobs
    %h3.title.jobs
      %span= "Jobs"
    %p= raw "We are looking for a talented and passionate #{hl('iPhone developer')} to join our team and build high quality applications for the iPhone and iPod touch."
    %p= raw "Do you have experience and a proven track record as iPhone developer? Do you #{hl('care about details')} and love good design? #{ mail_to "info@jilion.com", "Contact us", :encode => "hex" }."
  .spacer
  .section.contact
    %h3.title.contact
      %span= "Contact"
    %ul
      %li.email
        = link_to "mailto:%69%6e%66%6f@%6a%69%6c%69%6f%6e.%63%6f%6d" do
          %strong
            %span.icon= 'Email'
          %span.corner
      %li.map
        = link_to "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=PSE+D,+1015+Ecublens,+Switzerland&sll=46.51725,6.56210&sspn=0.02838,0.037208&ie=UTF8&t=h&z=16", :title => "Show map", :id => "show_location" do
          %strong
            %span.icon= 'Map'
          %span.corner
      %li.twitter
        = link_to "http://twitter.com/jilion" do
          %strong
            %span.icon= 'Twitter'
          %span.corner
    .newsletter
      - if %w[thankyou confirmed unsubscribed].include?(params[:n])
        #email_flash{ :class => params[:n] }= t("home.email_flash.#{params[:n]}")
        = render :partial => 'subscribe_form', :locals => { :style => 'display:none' }
      - else
        = render :partial => 'subscribe_form'