%h2.headline
  %span= t 'home.headline'

#latest_work
  %h3.title.latest_work= "Latest work"
  .left
    %h4= "Helvetiq"
    %p.description= 'We are proud to announce the Helvetiq iPhone App. A Swiss IQ test based on the original board game.'
  .right
    = link_to "view", "http://iphone.helvetiq.ch", :class => "view_btn"
    -#%p.read_more= 'Read more:'
    -#= link_to "The Making of Helvetiq iPhone App", "http://blog.jilion.com", :class => "post_link"
#content
  .section.jilion
    %h3.title.jilion
      %span= "What is Jilion"
    %p= "Jilion is a group of #{hl('developers')} and #{hl('designers')} based in Lausanne, #{hl('Switzerland')} on the #{link_to('EPFL', 'http://www.epfl.ch')} start-up campus. We are providing our Internet expertise in software development and consulting services as well as developing our own products."
    %p= 'We pride ourselves on delivering impactful and state-of-the-art solutions to your online business goals.'
  .section.what_we_do
    %h3.title.what_we_do
      %span= "What we do"
    .web
      %img{ :src => "/images/home/browser_icon.png", :alt => "Web" }
      %p= "We have strong expertise in #{hl('web application')} development and interface design. We can collaborate with your team in defining your product goals and specifications, its online presence and market strategy."
      %p= "We master #{hl('Ruby on Rails')} and the #{hl('Facebook Platform')} and we can empower your product by adding advanced social media integration."
    .iphone
      %img{ :src => "/images/home/iphone_icon.png", :alt => "iPhone" }
      %p= "We can help you build cutting edge applications for the #{hl('iPhone and iPod touch')} that will enhance your brand and raise user satisfaction dramatically."
      %p= "We want to delight your users with #{hl('easy-to-use applications')} and #{hl('beautiful interfaces')}."
    .spacer
  .section.our_strength
    %h3.title.our_strength
      %span= "Our strength"
    #spectrum
      %strong
        %em= "We cover the full spectrum of competences, from solid back-end web services to sleek iPhone applications and web front-ends."
  .section.people
    %h3.title.people
      %span= "People"
    %ul
      %li
        %img{ :src => "/images/people/mehdi.jpg", :alt => "Mehdi Aminian" }
        .text
          %h4= 'Mehdi Aminian'
          %p.desc= "#{tg('Product')} #{tg('Strategy')} #{tg('Biz Dev')}"
      %li
        %img{ :src => "/images/people/zeno.jpg", :alt => "Zeno Crivelli" }
        .text
          %h4= 'Zeno Crivelli'
          %p.desc= "#{tg('iPhone')} #{tg('Web')} #{tg('JS')} #{tg('Front-end')} #{tg('UI')} #{tg('Biz Dev')}"
      %li
        %img{ :src => "/images/people/thibaud.jpg", :alt => "Thibaud Guillaume-Gentil" }
        .text
          %h4= 'Thibaud Guillaume-Gentil'
          %p.desc= "#{tg('Ruby on Rails')} #{tg('Web')} #{tg('Back-end')}"
      %li
        %img{ :src => "/images/people/octave.jpg", :alt => "Octave Zangs" }
        .text
          %h4= 'Octave Zangs'
          %p.desc= "#{tg('Web')} #{tg('UI')} #{tg('Design')} #{tg('CSS')} #{tg('Sounds & Video')}"
  .section.jobs
    %h3.title.jobs
      %span= "Jobs"
    %p= "Jilion is hiring! We are looking for a talented and passionate #{hl('iPhone developer')} who want to join our team to build high quality applications for the iPhone and iPod touch."
    %p= "Do you have experience and a proven track record as iPhone developer? Do you #{hl('care about details')} and love good design? Please #{ mail_to "info@jilion.com", "contact us", :encode => "hex" }."
  .spacer
  .section.contact
    %h3.title.contact
      %span= "Contact"
    %ul
      %li.email
        - link_to "&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6e%66%6f@%6a%69%6c%69%6f%6e.%63%6f%6d" do
          %strong
            %span.icon= 'Email'
          %span.corner
      %li.map
        - link_to "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Chemin+de+la+Raye+13,+1024+Ecublens,+Switzerland&sll=46.524693,6.564245&sspn=0.010586,0.019033&ie=UTF8&ll=46.524708,6.564074&spn=0.010586,0.019033&z=16&iwloc=A", :title => "Show map", :id => "show_location" do
          %strong
            %span.icon= 'Map'
          %span.corner
      %li.twitter
        - link_to "http://twitter.com/jilion" do
          %strong
            %span.icon= 'Twitter'
          %span.corner
    .newsletter
      - if %w( thankyou confirmed unsubscribed ).include? params[:n]
        #email_flash{ :class => params[:n] }= t("home.email_flash.#{params[:n]}")
        = render :partial => 'subscribe_form', :locals => { :style => 'display:none' }
      - else
        = render :partial => 'subscribe_form'
      
-##content_left
-#  .intro
-#    %p= t 'home.intro_p1', :link => link_to("EPFL", "http://www.epfl.ch")
-#    %p= t 'home.intro_p2'
-##content_right
-#  %h3 Contact Us
-#  %p.message
-#    == <a href='mailto:&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x6A;&#x69;&#x6C;&#x69;&#x6F;&#x6E;&#x2E;&#x63;&#x6F;&#x6D;'>Email</a>
-#  %p.location
-#    %a#show_location{ :href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Chemin+de+la+Raye+13,+1024+Ecublens,+Switzerland&sll=46.524693,6.564245&sspn=0.010586,0.019033&ie=UTF8&ll=46.524708,6.564074&spn=0.010586,0.019033&z=16&iwloc=A", :title => "Show map" }= "Map"
-#  %p.twitter
-#    %a{ :href => "http://twitter.com/jilion" }= "Twitter"
-#  .email
-#    - if %w( thankyou confirmed unsubscribed ).include? params[:n]
-#      #email_flash{ :class => params[:n] }= t("home.email_flash.#{params[:n]}")
-#      = render :partial => 'subscribe_form', :locals => { :style => 'display:none' }
-#    - else
-#      = render :partial => 'subscribe_form'
-#  .spacer
