!!! strict
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= t 'title'

    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    ==<![if !(lte IE 9)]>
    %meta{ "http-equiv" => "Refresh", :content => "0;url=/" }
    %style{ :type => "text/css", :media => "screen" }
      == body {
      ==   display:none;
      == }
    ==<![endif]>
    /[if lte IE 8]
      %style{ :type => "text/css", :media => "screen" }
        == body {
        ==   font-family:Arial, sans-serif;
        ==   font-size:14px;
        ==   background:#222830;
        ==   color:#fff;
        ==   line-height:20px;
        == }
        ==
        == #main {
        ==   width:500px;
        ==   margin:100px auto;
        ==   padding:20px;
        ==   background:#424D5D;
        ==   border:1px solid #8094B3;
        == }
        ==
        == a {
        ==   color:#B1E2FC;
        ==   font-weight:bold;
        == }
        ==
        == #footer {
        ==   font-size:12px;
        == }
  %body
    #main
      %h2= "Unsupported browser."
      %p= "Internet Explorer 8 and lower have known compatibility issues with modern web standards. We chose to stop supporting your browser as many other websites (like YouTube, Facebook or Twitter) are doing."
      %p= "We recommend one of the following supported browsers:"
      %ul
        %li
          %a{ :href => "http://www.microsoft.com/windows/internet-explorer/default.aspx" }= "Internet Explorer 9"
        %li
          %a{ :href => "http://www.mozilla.com/firefox/" }= "Firefox"
        %li
          %a{ :href => "http://google.com/chrome" }= "Google Chrome"
        %li
          %a{ :href => "http://apple.com/safari/download" }= "Safari"

      #footer= "Copyright © 2009-#{Time.now.utc.year} Jilion® SA"
