- contact = contact(Contact::Love)
.form_box#love{ :style => contact.errors.empty? ? 'display:none' : 'display:block', :class => contact.errors.empty? ? '' : 'errors' }
  %h2 Love
  .intro
    %p= "Feel free to send us your encouragement, this is what make us smile, even cry sometimes:"
  - semantic_form_for :contact, contact, :url => contacts_path, :html => { :multipart => true } do |f|
    - f.inputs do
      = f.input :_type, :as => :hidden
      = f.input :email, :required => true, :label => "Your email"
      = f.input :message, :as => :text, :required => true, :label => "Your message"
    
    - f.buttons do
      = f.commit_button "Submit"