- contact = contact(Contact::Love)
.form_box#love{ :style => contact.errors.empty? ? 'display:none' : 'display:block', :class => contact.errors.empty? ? '' : 'errors' }
  %h2 Love
  .intro
    %p= "Feel free to send us your encouragements, it really matters to us. We will publish some of them:"
  
  - form_for :contact, contact, :url => contacts_path, :html => { :multipart => true }, :builder => CustomFormBuilder do |f|
    = f.hidden_field :_type
    .entry
      = f.label :email, "Your email", :require => true
      = f.text_field :email, :class => "text"
    .entry
      = f.label :message, "Your message", :require => true
      .textarea_wrapper
        = f.text_area :message, :class => "text"

    .entry.submit
      = submit_tag 'Submit', :onclick => "this.next('.spinner').show();"
      .spinner{ :style => "display:none" }
        = image_tag "/images/embed/contact/spinner.gif", :alt => ""
      .spacer
  .required_mention= "<abbr title='required'>*</abbr> required"