- contact = contact(Contact::Request)
.form_box#request{ :style => contact.errors.empty? ? 'display:none' : 'display:block', :class => contact.errors.empty? ? '' : 'errors' }
  %h2 Request
  .intro
    %p= "For question related to SublimeVideo, please visit…"
    %p= "For any other question or a request please use the form below:"
  = form_for contact, :as => :contact, :url => contacts_path, :html => { :multipart => true }, :builder => CustomFormBuilder do |f|
    = f.hidden_field :type, :value => 'Contact::Request'
    .entry
      = f.label :email, "Your email", :require => true
      = f.text_field :email, :class => "text"
    .entry
      = f.label :message, "Your message", :require => true
      .textarea_wrapper
        = f.text_area :message, :class => "text"

    .entry.submit
      = submit_tag 'Submit', :onclick => "this.next('.spinner').show();"
      .spinner{ :style => "display:none" }
        = image_tag "/images/embed/contact/spinner.gif", :alt => ""
      .spacer
  .required_mention= raw "<abbr title='required'>*</abbr> required"