- contact = contact(Contact::Request)
.form_box#request{ :style => contact.errors.empty? ? 'display:none' : 'display:block', :class => contact.errors.empty? ? '' : 'errors' }
  %h2 Request
  .intro
    %p= "Here you can share with us your suggestions to improve what we do. Feel free to also ask for new features or propose wild stuff."

    %p= "But first please consider the following rule before going further:"
    %p= "We are in the business of sharing good vibes, not stealing other people inspiration. However we don't want to be blocked in our work by people claiming ownership on what they decided on their own to tell us: That's why we ask you to agree that if you transmit us information in this section, you accept that we can consider it public information, meaning that you and us are completely free to do whatever we want with this shared information without accounting the other party in any way."
    %p= "If you agree with this basic rule, please write to us with the following form below:"

  - semantic_form_for :contact, contact, :url => contacts_path, :html => { :multipart => true } do |f|
    - f.inputs do
      = f.input :_type, :as => :hidden
      = f.input :email, :required => true, :label => "Your email"
      = f.input :message, :as => :text, :required => true, :label => "Your message"
    
    - f.buttons do
      = f.commit_button "Submit"