#contact
  %h3.title.contact.alt
    %span= "Contact"
  
  %ul#contact_topics
    %li.form_1
      %a.title{ :href => "#deal" }
        = "Would you like <strong>us to work for you?</strong>"
        %span.arrow
      = render 'deal'      
    %li.form_2
      %a.title{ :href => "#team_up" }
        = "Would you like to <strong>team up with us?</strong>"
        %span.arrow
      = render 'team_up'
    %li.form_3
      %a.title{ :href => "#job" }
        = "You are a talented individual. Would you like to <strong>join us?</strong>"
        %span.arrow
      = render 'job'
    %li.form_4
      %a.title{ :href => "#press" }
        = "You are a journalist. Would you like to <strong>speak with us?</strong>"
        %span.arrow
      = render 'press'
    %li.form_5
      %a.title{ :href => "#request" }
        = "Do you have a <strong>feature request</strong> or a great suggestion to share with us?"
        %span.arrow
      = render 'request'
    %li.form_6
      %a.title{ :href => "#love" }
        = "Do you have an urgent need to <strong>share some good vibes with us?</strong>"
        %span.arrow
      = render 'love'

  -#- flash.each do |key,value|
  -#  #flash{ :class => "alert #{key}" }
  -#    %p
  -#      = value
  -#      - if session[:contact_id]
  -#        = link_to "download the pdf copy", contact_pdf_path
  -#    %a.remove{ :href => "", :onclick => "this.up().fade(); return false" }
  -#      %span= "Remove"
  -##flash{ :class => "alert notice" }
  -#  %p
  -#    = "Thank you very much, you're great!"
  -#  = link_to "download the pdf copy", "", :class => "pdf"
  -#  %a.remove{ :href => "", :onclick => "this.up().fade(); return false" }
  -#    %span= "Remove"
