#contact
  %h3.title.contact.alt
    %span= "Contact"
  
  %ul#contact_topics
    %li.form_1
      %a.title{ :href => "#deal" }
        = "You would like <strong>Jilion to work for you</strong>"
        %span.arrow
      = render 'deal'      
    %li.form_2
      %a.title{ :href => "#team_up" }
        = "You would like to <strong>team up with us</strong>"
        %span.arrow
      = render 'team_up'
    %li.form_3
      %a.title{ :href => "#job" }
        = "You are a talented individual and would like to <strong>join the company</strong>"
        %span.arrow
      = render 'job'
    %li.form_4
      %a.title{ :href => "#press" }
        = "You are a journalist and would like to <strong>contact us</strong>"
        %span.arrow
      = render 'press'
    %li.form_5
      %a.title{ :href => "#request" }
        = "You have a <strong>feature request</strong> or a great suggestion to tell us"
        %span.arrow
      = render 'request'
    %li.form_6
      %a.title{ :href => "#love" }
        = "You have an urgent need to share your love for life and want to <strong>send us some good vibes</strong>"
        %span.arrow
      = render 'love'

  - flash.each do |key,value|
    #flash{ :class => "alert #{key}" }
      %p= value
      %a.remove{ :href => "", :onclick => "this.up().fade(); return false" }
        %span= "Remove"