%tr{ :class => cycle("#{contact.type_name} #{contact.state}", "#{contact.type_name} #{contact.state} alt") }
  %td=h contact.issue
  %td=h contact.type.to_s.gsub(/Contact::/,'')
  %td=h contact.email
  %td=h contact.state
  %td
    - if contact.deal?
      =h contact.budget
    - else
      = "Not applicable"
  %td=l contact.created_at, :format => :long
  %td  
    = link_to "show", admin_contact_path(contact)
    = archive_button(contact) unless contact.archived?
    = reply_link(contact)