%tr{ :class => cycle("alt", "") }
  %td
    - if contact.file?
      - link_to admin_contact_path(contact), :class => "attachment" do
        %span="Attachment"
  %td
    = link_to "##{contact.issue}", admin_contact_path(contact)
  %td= contact.class.to_s.demodulize
  - if params[:type] == 'Job' && contact.is_a?(Contact::Job) && contact.job_id?
    %td= link_to contact.job.title, admin_job_path(contact.job)
  %td= mail_to contact.email
  %td= l contact.created_at, :format => :long
  %td
    %em= contact.replied? ? "Replied" : "-"
