%ul.filter
  %li{ class: !(params[:replied] || params[:archived]) ? "active": nil }= link_to "Recent", url_for(with_state: "new")
  %li{ class: params[:archived] ? "active": nil }= link_to "Archived", url_for(archived: true)
  %li
    = form_tag url_for(params), :method => :get do
      = hidden_field_tag :state, params[:state] || "new"
      = select_tag :with_type, options_for_select([["All", nil]] + Contact::TYPES, params[:with_type]), { onchange: 'this.form.submit();' }
.spacer

%table
  %tr
    %th
    %th= link_to_sort :issue
    %th= link_to_sort :type
    - if params[:with_type] == 'Job'
      %th= link_to_sort :job
    %th= "Email"
    %th= link_to_sort :created_at, label: 'Date'
    %th= link_to_sort :replied_at, label: 'Replied'
  = render partial: "contact", :collection => @contacts

= paginate @contacts
