%ul
  %li= link_to "Recent", url_for(params.merge(:state => "new"))
  %li= link_to "Archived", url_for(params.merge(:state => "archived"))
  %li
    - form_tag url_for(params), :method => :get do
      = select_tag :type, options_for_select([["All",nil]] + Contact::TYPES.map { |t| [t.to_s.gsub(/Contact::/,''),t] }, params[:type])
      = submit_tag "filter"
  

%table
  %tr
    %th= "Issue"
    %th= "Type"
    %th= "Email"
    %th= "State"
    %th= "Budget"
    %th= "Date"
    %th= "Actions"
  = render :partial => "contact", :collection => @contacts

= will_paginate @contacts