%ul.filter
  %li{ class: params[:recent] ? "active" : nil }= link_to "Recent", url_for(recent: true)
  %li{ class: params[:replied] ? "active" : nil }= link_to "Replied", url_for(replied: true)
  %li{ class: params[:archived] ? "active" : nil }= link_to "Archived", url_for(archived: true)
  %li{ class: params[:trashed] ? "active" : nil }= link_to "Trashed", url_for(trashed: true)
  %li
    = form_tag admin_contacts_path, method: 'get' do
      - %w[recent replied archived trashed].each do |state|
        = hidden_field_tag state, params[state] if params[state]
      = select_tag :with_type, options_for_select([['All', 'all']] + Contact::TYPES, params[:with_type]), { prompt: 'By type', onchange: 'this.form.submit();' }
.spacer

%table
  %tr
    %th
    %th= link_to_sort :issue
    %th= link_to_sort :type
    - if params[:with_type] == 'Job'
      %th= link_to_sort :job
    %th= link_to_sort :email
    %th= link_to_sort :created_at, label: 'Received'
    %th= link_to_sort :replied_at, label: 'Replied'
    %th= link_to_sort :archived_at, label: 'Archived'
    %th= link_to_sort :trashed_at, label: 'Trashed'
  = render partial: 'contact', collection: @contacts

= paginate @contacts
