%ul.filter
  %li{ :class => (params[:state] == "new") || (params[:state] != "archived") ? "active": "" }= link_to "Recent", url_for(params.merge(:state => "new"))
  %li{ :class => params[:state] == "archived" ? "active": "" }= link_to "Archived", url_for(params.merge(:state => "archived"))
  %li
    = form_tag url_for(params), :method => :get do
      = hidden_field_tag :state, params[:state] || "new"
      = select_tag :type, options_for_select([["All", nil]] + Contact::TYPES.map { |t| t.to_s.gsub("Contact::", '') }, params[:type]), { :onchange => 'this.form.submit();' }
.spacer

%table
  %tr
    %th
    %th= "Issue"
    %th= "Type"
    - if params[:type] == 'Job'
      %th= "Job"
    %th= "Email"
    %th= "Date"
    %th= "Replied"
  = render :partial => "contact", :collection => @contacts

= paginate @contacts
