%h2= @contact.class.to_s.demodulize

%p
  %strong{ :style => "font-weight:600;" }= "Issue ##{@contact.issue}"
  = "(#{@contact.state.humanize}), received on"
  %span{ :style => "font-weight:600;" }= "#{l(@contact.created_at, :format => :long)}"
  - if @contact.replied?
    = ", replied on"
    %span{ :style => "font-weight:600;" }= "#{l(@contact.replied_at, :format => :long)}"

.contact
  -#- if @contact.job_id?
  -#  %li
  -#    %strong= "Job ref:"
  -#    = link_to @contact.job_id, admin_job_path(@contact.job_id)

  %p
    %strong{ :style => "font-weight:600;" }= "From:"
    = mail_to(@contact.email)
  %br

  = RedCloth.new(@contact.message).to_html.html_safe
  %br

  - if @contact.file.present?
    %li
      %strong= "Attachment:"
      = link_to @contact.file_filename, @contact.file_url

%p= reply_link(@contact)
%br

%p
  %strong{ :style => "font-weight:600;" }= "Archive this message"

- unless @contact.archived?
  - form_for :contact, @contact, :url => admin_contact_path(@contact), :html => { :method => :put } do |f|
    .entry
      = f.label :replied, "Mark as replied?"
      = f.check_box :replied
      = f.hidden_field :state, :value => "archived"
    .entry
    = f.submit "Archive"

%br
%hr
= link_to "Back to the contact list", admin_contacts_path