%h2= @contact.type.to_s.gsub(/Contact::/,'')

= link_to "Back to the contact list", admin_contacts_path

%ul.contact
  %li
    %strong= "Issue:"
    = @contact.issue
  - if @contact.job?
    - job = Job.find(@contact.job_id)
    %li
      %strong= "Job reference:"
      = link_to "##{job.issue} - #{job.title}", admin_job_path(@contact.job_id)
  %li
    %strong= "Email:"
    = @contact.email
  %li
    %strong= "Status:"
    = @contact.state
  - if @contact.deal?
    %li
      %strong= "Name:"
      = @contact.name
    %li
      %strong= "Phone:"
      = @contact.phone
    %li
      %strong= "Organization:"
      = @contact.organization
    %li
      %strong= "Url:"
      = link_to @contact.url
    %li
      %strong= "Activity:"
      = @contact.activity
    %li
      %strong= "Budget:"
      = @contact.budget
    %li
      %strong= "Project Description:"
      = @contact.project_description
    %li
      %strong= "Goal:"
      = @contact.goal
    %li
      %strong= "Metrics:"
      = @contact.metrics
    %li
      %strong= "Challenge:"
      = @contact.challenge
    %li
      %strong= "Deadline:"
      = @contact.deadline
    %li
      %strong= "Comment:"
      = @contact.comment
  - if !@contact.deal?
    %li
      %strong= "Message:"
      = @contact.message
  - if @contact.file.present?
    %li
      %strong= "Attachment:"
      = link_to @contact.file_filename, @contact.file_url
  %li
    %strong= "Submitted on:"
    = l @contact.created_at, :format => :long
    
= archive_button(@contact) unless @contact.archived?
= reply_link(@contact)