%h2= @contact.class.to_s.demodulize

%p
  %strong{ :style => "font-weight:600;" }= "Issue ##{@contact.issue}"
  = "(#{@contact.state.humanize}), received on"
  %span{ :style => "font-weight:600;" }= "#{l(@contact.created_at, :format => :long)}"
  - if @contact.replied?
    = ", replied on"
    %span{ :style => "font-weight:600;" }= "#{l(@contact.replied_at, :format => :long)}"

  %p
    %strong{ :style => "font-weight:600;" }= "From:"
    = mail_to(@contact.email)

  - if @contact.is_a?(Contact::Job) && @contact.job_id?
    %p
      %strong{ :style => "font-weight:600;" }= "Application for:"
      = link_to @contact.job.title, admin_job_path(@contact.job)

  - if @contact.file.present?
    %p
      %strong{ :style => "font-weight:600;" }= "Attachment:"
      = link_to @contact.file_filename, @contact.file_url
%br

.contact
  = RedCloth.new(@contact.message).to_html.html_safe

%br
%p= reply_link(@contact)
%br

%p
  %strong{ :style => "font-weight:600;" }= "Archive this message"

- unless @contact.archived?
  - form_for :contact, @contact, :url => admin_contact_path(@contact), :html => { :method => :put } do |f|
    .entry
      = f.label :replied, "Mark as replied?"
      = f.check_box :replied
      = f.hidden_field :state, :value => "archived"
    .entry
    = f.submit "Archive"

%br
%hr
= link_to "Back to the contact list", admin_contacts_path
