- content_for :title do
  = "SublimeVideo"

#global
  #header
    %h1= "SublimeVideo"
    %h2= "HTML5 Video Player"
    - link_to "http://jilion.com", :class => "jilion" do
      %span= "Jilion"
    - link_to "http://twitter.com/jilion", :class => "twitter" do
      %span= "Twitter"
  
  #video_wrap
    %video.sublime{ :width => "600", :height => "255", :poster => "/images/embed/sublime/video/poster.jpg" }
      %source{ :title => "http://d31j8lt3uybmqs.cloudfront.net/sublimevideo/dartmoor.mp4", :type => "video/mp4" }/
      
  #caption
    %p
      %em= "Dartmoor"
      = "by" 
      = link_to "James Watson", "http://james-watson.net"
  #content
    .left
      %h3
        = "Current features" 
        %em= "(in this demo)"
      %ul
        %li
          %strong= "HTML5 video goodness:"
          %ul
            %li= "no browser plugin, no Flash dependencies"
            %li= "jump anywhere in the video and it'll start buffering from that point"
        %li= "Custom styled controls"
        %li
          %strong= "Full-window mode:"
          %ul
            %li= "Sleek zoom-in/out transitions"
            %li= "Live-resizing (when resizing the browser window)"
            %li= "More advanced controls on a draggable pane"
            %li= "Press spacebar to play/pause video"
        %li
          %strong= "Full-screen mode"
          - link = link_to("WebKit Nightly Builds", "http://nightly.webkit.org")
          = "by alt-clicking on the full-window button (currently only supported in latest #{link})"
    .right
      %h3
        = "Features we plan to add"
        %em= "(in the public release)"
      %ul
        %li= "Firefox support"
        %li= "Volume controls"
        %li= "IE support by falling back to Flash"
      
      %h3= "Supported Browsers"
      %ul
        %li= "Safari (v4.0.4+)"
        %li= "Google Chrome (v4.0+)"
        %li= "Internet Explorer with Chrome Frame installed"

      %h3= "Note"
      %p
        = "SublimeVideo will be soon released for free for anyone to use."
        %strong
          = link_to "Follow us", "http://twitter.com/Jilion"
        = "to be notified when it'll be ready!"
    .spacer
  #footer
    = "© 2009"
    = link_to "Jilion","http://jilion.com"