- content_for :title do
  = "SublimeVideo"

#global
  #header
    %h1
      %span= "SublimeVideo"
    %h2= "HTML5 Video Player"
    - link_to "http://jilion.com", :class => "jilion" do
      %span= "Jilion"
    - link_to "http://twitter.com/jilion", :class => "twitter" do
      %span= "Twitter"
  
  #video_wrap
    %p#demo_page_info
    -#- if params[:v] == "ipad"
    -#  %video.sublime{ :width => "600", :height => "340", :poster => "http://images.apple.com/ipad/ipad-video/images/apple-ipad-video-us-20100127_848x480.jpg" }
    -#    %source{ :title => "http://movies.apple.com/media/us/ipad/2010/tours/apple-ipad-video-us-20100127_r848-9cie.mov", :type => "video/mp4" }/
    -#    -#%source{ :title => "http://jilion.local/~zeno/Jilion/videos/apple-ipad-video-us-20100127_r848-9cie.mov", :type => "video/mp4" }/
    -#- else
    %video{ :class => params[:flash] ? "sublime flash" : "sublime", :width => "600", :height => "255", :poster => image_path("/images/embed/sublime/video/poster.jpg"), :preload => "none", :controls => "controls" }
      %source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor.mov", :type => "video/mp4", :src => "" }/
      %source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor.mp4", :type => "video/mp4", :src => "" }/
      %source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor.webm", :type => "video/webm", :src => "" }/
      %source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor.ogv", :type => "video/ogg", :src => "" }/
      -#%source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor_iphone.mp4", :type => "video/mp4" }/
  #caption
    %p
      - if params[:v] == "ipad"
        %em= "iPad Video,"
        = link_to "Apple.com/ipad", "http://www.apple.com/ipad/"
      - else
        %em= "Dartmoor"
        = "by"
        = link_to "James Watson", "http://james-watson.net"
        = "(Desktop: HD 720p. iPhone/iPad Wi-Fi: 496x208 and cellular: 176x74)"
  #status_update
    %p<
      %strong= "Status"
      = ": Get notified when SublimeVideo is released. Join the limited beta."
      = link_to "sublimevideo.net &raquo;", "http://sublimevideo.net"
  #content{ :class => params[:flash] ? "flash_notice" : "" }
    - if params[:flash]
      %p.headline= "<strong>This page presents a demo of the SublimeVideo player where its <em>Flash mode is forced</em> in all browsers.</strong>"
      %p.subline= "Back to <strong>#{ link_to 'full version', sublime_url(:video)}</strong> (automatic detection of HTML5 or Flash) <br /> Read more about <strong>#{ link_to 'SublimeVideo Flash mode ', "http://blog.jilion.com/2010/04/07/sublimevideo-flash-mode"}</strong>"
    - else
      .left
        %h3
          = "Current features" 
        %ul
          %li
            %strong= "HTML5 video goodness:"
            %ul
              %li= "no browser plugin, no Flash dependencies"
              %li= "jump anywhere in the video and it'll start buffering from that point"
          %li
            %strong= "Uniform UI across all browsers"
          %li
            %strong= "Standalone pure JavaScript library"
          %li
            %strong= "Full-window mode:"
            %ul
              %li= "Sleek zoom-in/out transitions"
              %li= "Live-resizing (when resizing the browser window)"
              %li= "More advanced controls on a draggable pane"
              %li= "Double-click video to enter full-window"
              %li= "Press spacebar to play/pause and Esc to exit full-window"
          %li
            %strong= "Full-screen mode"
            -#- link = link_to("WebKit Nightly Builds", "http://nightly.webkit.org")
            - link = link_to("Safari 5", "http://www.apple.com/safari")
            = "hold down Command (Mac) or Ctrl (Windows/Linux) while entering full-window. Currently only supported in #{link} and in the Flash version of the player."
          %li
            %strong
              = "iPhone &amp; iPad support"
      .right
      
        %h3= "Supported Browsers"
        %ul
          %li= "Safari (v4.0.4+)"
          %li= "Google Chrome (v4.0+)"
          %li
            = "Firefox (v3.6+)"
            = link_to "Read more &raquo;", "http://blog.jilion.com/2010/02/11/sublimevideo-supports-firefox", :class => "small_link"
          %li= "Opera (v10.5+)"
          %li= "Internet Explorer with Chrome Frame installed"
          %li
            %strong= "All other browsers"
            = "(who do not fully support HTML5 Video) are supported through our"
            %strong= "SublimeVideo Flash player"
            = link_to "Read more &raquo;", "http://blog.jilion.com/2010/04/07/sublimevideo-flash-mode", :class => "small_link"
        %h3= "Note"
        %p
          = "SublimeVideo® will be soon released and it'll be free for non-commercial use."
          %br/
          %strong
            = link_to "Follow us", "http://twitter.com/Jilion"
          = "to be notified when it'll be ready!"
    .spacer
    -##faq
    -#  %h3= "FAQ"
    -#  %ul
    -#    %li{ :id => "faq_1"}
    -#      %h4= "Why Firefox is currently not supported?"
    -#      %p
    -#        = "The JavaScript API of the HTML5 video and audio tags is not yet fully implemented in the latest version of Firefox (please Mozilla implement the #{link_to 'buffered attribute', 'https://developer.mozilla.org/En/NsIDOMHTMLMediaElement'}!)."
    -#        %br
    -#        = "As soon as it will be implemented we will definitely add Firefox support."
  #footer
    = "Copyright © 2010 Jime® SA — #{link_to "Jilion®","http://jilion.com"} is the consulting group of Jime® SA"