- content_for :title do
  = "SublimeVideo"

#global
  #header
    %h1
      %span= "SublimeVideo"
    %h2= "HTML5 Video Player"
    - link_to "http://jilion.com", :class => "jilion" do
      %span= "Jilion"
    - link_to "http://twitter.com/jilion", :class => "twitter" do
      %span= "Twitter"
  
  #video_wrap
    -#- if params[:v] == "ipad"
    -#  %video.sublime{ :width => "600", :height => "340", :poster => "http://images.apple.com/ipad/ipad-video/images/apple-ipad-video-us-20100127_848x480.jpg" }
    -#    %source{ :title => "http://movies.apple.com/media/us/ipad/2010/tours/apple-ipad-video-us-20100127_r848-9cie.mov", :type => "video/mp4" }/
    -#    -#%source{ :title => "http://jilion.local/~zeno/Jilion/videos/apple-ipad-video-us-20100127_r848-9cie.mov", :type => "video/mp4" }/
    -#- else
    %video.sublime{ :width => "600", :height => "255", :poster => image_path("/images/embed/sublime/video/poster.jpg") }
      %source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor.mp4", :type => "video/mp4" }/
      %source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor2.ogv", :type => "video/ogg" }/
      -#%source{ :title => "http://jilion.s3.amazonaws.com/sublimevideo/dartmoor2.ogv", :type => "video/ogg" }/
      %source{ :title => "http://medias.jilion.com/sublimevideo/dartmoor_iphone.mp4", :type => "video/mp4" }/
  #caption
    %p
      - if params[:v] == "ipad"
        %em= "iPad Video,"
        = link_to "Apple.com/ipad", "http://www.apple.com/ipad/"
      - else
        %em= "Dartmoor"
        = "by" 
        = link_to "James Watson", "http://james-watson.net"
  #content
    .left
      %h3
        = "Current features" 
        %em= "(in this demo)"
      %ul
        %li
          %strong= "HTML5 video goodness:"
          %ul
            %li= "no browser plugin, no Flash dependencies"
            %li= "jump anywhere in the video and it'll start buffering from that point"
        %li= "Custom styled controls"
        %li
          %strong= "Full-window mode:"
          %ul
            %li= "Sleek zoom-in/out transitions"
            %li= "Live-resizing (when resizing the browser window)"
            %li= "More advanced controls on a draggable pane"
            %li= "Press spacebar to play/pause video"
        %li
          %strong= "Full-screen mode"
          - link = link_to("WebKit Nightly Builds", "http://nightly.webkit.org")
          = "by alt-clicking on the full-window button (currently only supported in latest #{link})"
        %li
          = "iPhone & "
          %span.new= "iPad"
          = "support"
    .right
      %h3
        = "Features we plan to add"
        %em= "(in the public release)"
      %ul
        %li= "Volume controls"
        %li= "IE support by falling back to Flash"
      
      %h3= "Supported Browsers"
      %ul
        %li= "Safari (v4.0.4+)"
        %li= "Google Chrome (v4.0+)"
        %li
          %span.new= "Firefox (v3.6+)"
          = link_to "(read more)", "", :class => "small_link"
        %li= "Internet Explorer with Chrome Frame installed"

      %h3= "Note"
      %p
        = "SublimeVideo will be soon released for free (at least for non-commercial use)."
        %strong
          = link_to "Follow us", "http://twitter.com/Jilion"
        = "to be notified when it'll be ready!"
    .spacer
    -##faq
    -#  %h3= "FAQ"
    -#  %ul
    -#    %li{ :id => "faq_1"}
    -#      %h4= "Why Firefox is currently not supported?"
    -#      %p
    -#        = "The JavaScript API of the HTML5 video and audio tags is not yet fully implemented in the latest version of Firefox (please Mozilla implement the #{link_to 'buffered attribute', 'https://developer.mozilla.org/En/NsIDOMHTMLMediaElement'}!)."
    -#        %br
    -#        = "As soon as it will be implemented we will definitely add Firefox support."
  #footer
    = "© 2010"
    = link_to "Jilion","http://jilion.com"