!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title Jilion Admin

    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }

    = stylesheet_link_tag 'style', 'admin'

    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    = javascript_include_tag "//use.typekit.com/ibz5qib.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
  %body
    #global
      #logo_backlights
      #back
      #main
        #header
          %h1
            = link_to root_path do
              %span= 'Jilion'
          %ul#menu
            %li.contact
              = link_to admin_contacts_path do
                %strong
                  %span.icon= 'Contacts'
                %span.corner
            %li.job
              = link_to admin_jobs_path do
                %strong
                  %span.icon= 'Jobs'
                %span.corner
        #admin= yield
        .spacer
    #footer= "Copyright © #{Time.now.utc.year} Jime® SA — Jilion® is the consulting group of Jime® SA"

    = javascript_include_tag 'application'
