!!!5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "#{t 'title'}#{yield :title}"

    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }

    = stylesheet_link_tag 'style'
    -#- if controller_name == 'contacts'
    -#  == <!--[if (!IE)|(gte IE 8)]><!-->
    -#  = stylesheet_link_tag "style", :cache => "/assets/style-datauri"
    -#  == <!--<![endif]-->
    -#  /[if gte IE 7]
    -#    = stylesheet_link_tag 'style'
    -#- else
    -#  = include_stylesheets :style
    /[if gte IE 7]
      = stylesheet_link_tag 'ie'
      = javascript_tag "var curvyCornersNoAutoScan = true;"
      = javascript_include_tag 'curvycorners'
    /[if lte IE 6]
      %meta{ "http-equiv" => "Refresh", :content => "0;url=/ie" }
      %style{ :type => "text/css", :media => "screen" }
        == body {background:#fff;display:none;}
    = javascript_include_tag "//use.typekit.com/odd6rcy.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
  %body
    #global
      #logo_backlights
      #back
      #main
        #header
          %h1
            = link_to root_url do
              %span= 'Jilion'
          %ul#menu
            -# %li.about
            -#   = link_to "/about" do
            -#     %strong
            -#       %span.icon= 'About'
            -#     %span.corner
            -# %li.press
            -#   = link_to "/press" do
            -#     %strong
            -#       %span.icon= 'Press'
            -#     %span.corner
            %li.jobs{ class: current_page?(controller: 'jobs') ? "active" : ""}
              = link_to "/jobs" do
                %strong
                  %span= 'Jobs'
                %span.corner
              %span.note= "Join the Team & Push HTML5 forward!"
            %li.blog
              = link_to "http://blog.jilion.com" do
                %strong
                  %span.icon= 'Blog'
                %span.corner
        = yield
        .spacer
    #footer= "Copyright © 2009-#{Time.now.utc.year} Jilion® SA"
    #map_global{ style: "display:none" }
      #map_background
      #map_overlay
        #map_wrap
    - if params[:page] == 'home'
      = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag 'application'
    :javascript
      var GoSquared={};
      GoSquared.acct = "GSN-273357-L";
      (function(w){
          function gs(){
              w._gstc_lt=+(new Date); var d=document;
              var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
              var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
          }
          w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
      })(window);

